<h1>User info</h1>

<% if @user.profile_image.attached? %>
 <%= image_tag @user.profile_image, size: "200×200" %>
<% else %>
 <%= image_tag 'no_image', size: "200×200" %>
<% end %>

<p><%= @user.name %></p>

<p><%= @user.introduction %></p>

<%= link_to 'edit', edit_user_path(@user.id) %>


<h1>New Book</h1>

<%= form_with model: @book, url: 'books_path' do |f| %>

<label>Title</label>
<%= f.text_field :text %>

<label>Opinion</label>
<%= f.text_field :opinion %>

<%= f.submit 'Create Book' %>

<% end %>

<h1>Books</h1>

<table>
 <thead>
  <tr>
   <th></th>
   <th>Title</th>
   <th>Opinion</th>
  </tr>
 </thead>
 <tbody>
  <% @books.each do |book| %>
  <tr>
   <td><%= link_to user_path(user_image.id) do %>
         <%= image_tag user.get_image %>
        <% end %>
   </td>
   <td><%= book.title %></td>
   <td><%= link_to book.title, book_path(book) %></td>
   <td><%= book.body %></td>
  </tr>
  <% end %>
 </tbody>
</table>