<div class="container">
    <div class="row">
       <div class="col-lg-3">

            <%= render 'users/list', user: @user %>


            <h1>New Book</h1>

            <%= form_with model: @book, url: books_path  do |f| %>

            <p>Title</p>
            <%= f.text_field :title %>

            <pl>Opinion</p>
            <%= f.text_field :body %>

            <%= f.submit 'Create Book',class:"btn btn-success" %>

            <% end %>

       </div>
       <div class="col-lg-8">
            <h1>Books</h1>
            <table>
             <thead>
              <tr>
               <th></th>
               <th>Title</th>
               <th>Opinion</th>
              </tr>
             </thead>
             <tbody>
              <tr>
               <% @books.each do |book| %>
               <td><% if @user.profile_image.attached? %>
                    <%= image_tag @user.profile_image, size: "100×100" %>
                   <% else %>
                    <%= image_tag 'no_image', size: "100×100" %>
                   <% end %>
                   <%= link_to @user.profile_image, user_path(@user) %>
               </td>
               <td><%= link_to book.title, book_path(book) %></td>
               <td><%= book.body %></td>
               <% end %>
              </tr>
             </tbody>
            </table>
        </div>
    </div>
</div>