<div class="container">
    <div class="row">
       <%= render 'list',  %>
       <div class="col-lg-8">
            <h1>Books</h1>
            <table>
             <thead>
              <tr>
               <th></th>
               <th>Title</th>
               <th>Opinion</th>
              </tr>
             </thead>
             <tbody>
              <tr>
               <td><% if @user.profile_image.attached? %>
                    <%= image_tag @user.profile_image, size: "100×100" %>
                   <% else %>
                    <%= image_tag 'no_image', size: "100×100" %>
                   <% end %>
               </td>
               <td><%= link_to @book.title, book_path(@book) %></td>
               <td><%= @book.body %></td>
              </tr>
             </tbody>
            </table>
        </div>
    </div>
</div>